.loginForm{
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 10px;
	width: 370px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

h4.errorOnLogin{
	color: red;
	text-align: center;
	font-size: 15px;
	margin: 10px;
}

.loginForm p{
	text-align: center;
}

@media only screen and (max-width: 992px){
	.loginForm{
		width: auto;
	}
}